.bhaihead{
    background-image: linear-gradient(to right,rgb(95, 165, 62), rgb(109, 214, 174));
    text-align: center;
  }
  
  input[type=text],input[type=email],input[type=number], textarea {
    width: 100%;
    padding: 12px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }
  
  input[type=submit] {
    background-color: #05386B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #05386B;
  }
  
 
 
 
  
 
  
  
  